@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

:root {
    --main-color: #3a4452;
    --text-color: #97A5CE;
    --color-one: #97A5CE; 
}

body {
    background-color: #f5d60e;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4em;
    background-color: #231f1e;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

.eyes-wrapper {
    display: flex;
}

.eyes-wrapper:before {
    content: "";
    position: absolute;
    width: 26em;
    height: 6em;
    background-color: #a8a7ac;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.eye {
    width: 10em;
    height: 10em;
    border: 15px solid #a6a4ad;
    background-color: #ffffff;
    border-radius: 50%;
}

.eyeball {
    height: 3.2em;
    width: 3.2em;
    background: radial-gradient(#271e1e 35%, #935a29 37%);
    border-radius: 50%;
    margin: 0.2em 3.5em;
    position: relative;
}

.eyeball:before{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.7em;
    width: 0.5em;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    transform: rotate(45deg);
}






/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: var(--text-color);
    font-family: 'Muli';
    /* font-family: 'Poppins', sans-serif; */
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: var(--main-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: var(--main-color);
    transition: .3s;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}

